<div class="row with-headroom">
  <legend>Add Location</legend>
  <div class="col-md-12">
    <fieldset>
      <%= f.input :coverage, as: :hidden, label: false %>
      <%= bbox(:coverage) %>
    </fieldset>
  </div>
</div>
