<div class="btn-group">
  <button class="btn btn-default btn-small dropdown-toggle" data-toggle="dropdown" href="#"> Attach a File <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li>
      <%= link_to "Vector", main_app.new_curation_concerns_file_set_path(@presenter, type: 'vector-data') %>
    </li>
    <li>
      <%= link_to "Metadata", main_app.new_curation_concerns_file_set_path(@presenter, type: 'metadata') %>
    </li>
  </ul>
</div>
