#child-works, #parent-works {
  table {
    tbody {
      td { border-top: none; }
      tr { border-bottom: 1px solid #ddd; }
    }
  }
  .panel { margin-bottom: 0px; }
  .row { margin: 10px 0 10px 0; }
  .message {
    background-size: 40px 40px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
    transparent 75%, transparent);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    width: 100%;
    border: 1px solid;
    color: #fff;
    padding: 10px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    animation: animate-bg 5s linear infinite;
    border-radius: 4px;
    margin-top: 10px;
  }
  .has-warning{
    background-color: #eaaf51;
    border-color: #d99a36;
  }
}
