<% if @presenter.raster_work_presenters.present? %>
  <div class="panel panel-default raster_works">
    <div class="panel-heading">
      <h2>Raster Works</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="col-xs-3"></th>
          <th>Work Name</th>
        </tr>
      </thead>
      <tbody>
        <% @presenter.raster_work_presenters.each do |res| %>
          <tr class="file_set attributes">
            <td class="thumbnail" style="margin-bottom: 0px">
              <%= render_thumbnail_tag res %>
            </td>
            <td>
              <%= link_to res.title, main_app.curation_concerns_raster_work_path(res.id) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% elsif can? :edit, @presenter.id %>
  <h2>Raster Works</h2>
  <p class="center"><em>This <%= @presenter.human_readable_type %> has no raster works associated with it. You can add one using the "Attach a Raster Work" button below.</em></p>
<% end %>
