<!DOCTYPE html>
<html>
<head>
  <title>GeoConcerns</title>
  <%= stylesheet_link_tag    "geo_concerns/application", media: "all" %>
  <%= javascript_include_tag "geo_concerns/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
